.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #f0f2f5;
    box-sizing: border-box;
    margin: 0;
  }
  
  .login-container h2 {
    margin-bottom: 20px;
  }
  
  .login-container input {
    margin-bottom: 10px;
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .login-container button:hover {
    background-color: #45a049;
  }
  